extends layout

block content
	script(src="js/Chart.js")
	body.sidebar-mini.skin-purple-light
		.wrapper

			include header

			include sidebar

			// Content Wrapper. Contains page content
			.content-wrapper
				// Main content
				section.content
					// Your Page Content Here
					.box
						each item in row
							.box-header
								h4.box-title
									b 
										a(href='/goodsView?goodId=#{item.goodId}&entpId=#{item.entpId}') #{item.goodName}
							.box-body
								ul.products-list.product-list-in-box
									.product-img
										img(src="#{item.img}" style = "border-radius : 50%;")
									.product-info
										ul
											li
												b 현재가격
											| !{price[3].goodPrice} 원 / #{item.goodTotalCnt} #{item.codeName}
											li
												b 한달전가격
											| !{price[0].goodPrice} 원 / #{item.goodTotalCnt} #{item.codeName}
											li
												b 업체명 
											| #{item.entpName}
											li
												b 기준일
											| !{price[3].goodInspectDay}
											li
												b 상세정보
											| #{item.detailMean}
							.box-footer
								canvas.col-xs-11.col-md-offset-1.col-md-5#myChart(height="150")
									script(type='text/javascript').
										var data = {
											labels: ["!{price[0].goodInspectDay}", "!{price[1].goodInspectDay}", "!{price[2].goodInspectDay}", "!{price[3].goodInspectDay}"],
											datasets: [{
											fillColor: "rgba(255,255,255,0.2)",
											strokeColor: "rgba(110,110,110,1)",
											pointColor: "rgba(110,110,110,1)",
											pointStrokeColor: "#fff",
											pointHighlightFill: "#fff",
											pointHighlightStroke: "rgba(220,220,220,1)",
											data: [!{price[0].goodPrice},!{price[1].goodPrice},!{price[2].goodPrice},!{price[3].goodPrice}]}]
										};
										var ctx = document.getElementById("myChart").getContext("2d");
										var myNewChart = new Chart(ctx).Line(data);	
		include scripts