extends layout

block content
	script(src="js/Chart.js")
	body.sidebar-mini.skin-purple-light
		.wrapper

			include header

			include sidebar

			// Content Wrapper. Contains page content
			.content-wrapper
				// Main content
				section.content
					// Your Page Content Here
					.box
						.box-body
							ul.products-list.product-list-in-box
								each item in row
									.product-info
										ul
											li
												h4
													b
														a(href='#') #{item.goodName}
											li 현재가격 : !{price[3].goodPrice} 원 / #{item.goodTotalCnt}
											li 한달전가격 :  !{price[0].goodPrice} 원 / #{item.goodTotalCnt}
											li 업체명 : #{item.entpName}
											li 상세정보
											| #{item.detailMean}
						.box-footer
								canvas.col-xs-offset-1.col-md-9.col-md-offset-1#myChart(width="400" height="200")
								script(type='text/javascript').
									var data = {
										labels: ["!{price[0].goodInspectDay}", "!{price[1].goodInspectDay}", "!{price[2].goodInspectDay}", "!{price[3].goodInspectDay}"],
										datasets: [{
										fillColor: "rgba(255,255,255,0.2)",
										strokeColor: "rgba(110,110,110,1)",
										pointColor: "rgba(110,110,110,1)",
										pointStrokeColor: "#fff",
										pointHighlightFill: "#fff",
										pointHighlightStroke: "rgba(220,220,220,1)",
										data: [!{price[0].goodPrice},!{price[1].goodPrice},!{price[2].goodPrice},!{price[3].goodPrice}]}]
									};
									var ctx = document.getElementById("myChart").getContext("2d");
									var myNewChart = new Chart(ctx).Line(data);	
		include scripts