extends layout

block content
	body.sidebar-mini.skin-purple-light
		.wrapper

			include header

			include sidebar

			// Content Wrapper. Contains page content
			.content-wrapper
				// Main content
				section.content
					// Your Page Content Here
					each item in row
						.box(style="padding-left:20px;")
							.box-body
								ul.products-list
									li
										h4
											b 
												a(href='/marketView?entpId=#{item.entpId}') #{item.entpName}
									li 전화번호 :  #{item.entpTelno}
									li 우편번호 :  #{item.postNo}
									li 주소 :  #{item.plmkAddrBasic}