extends layout

block content
	body.sidebar-mini.skin-purple-light
		.wrapper

			include header

			include sidebar

			// Content Wrapper. Contains page content
			.content-wrapper
				// Main content
				section.content
					// Your Page Content Here
					each item in row
						.box
							.box-header
								h4.box-title
									b 
										a(href='/goodsView?goodId=#{item.goodId}&entpId=#{item.entpId}') #{item.goodName}
								.box-tools.pull-right
									button(type="button" class="btn btn-box-tool" data-widget="collapse")
										i.fa.fa-minus
									button(type="button" class="btn btn-box-tool" data-widget="remove")
										i.fa.fa-times
							.box-body
								ul.products-list
									.product-list-in-box
									.product-info
										ul
											li
												b 현재가격
											| #{item.goodPrice} 원 / #{item.goodTotalCnt} #{item.codeName}
											li
												b 업체명
											| #{item.entpName}
		include scripts
		script(type='text/javascript').
			$(document).ready(function(){
				$(window).scroll(function(){
					var scrollHeight = $(window).scrollTop() + $(window).height();
					var documentHeight = $(document).height();  
					if(scrollHeight == documentHeight){
						$.ajax({
							type: "GET",
							url: "/api/mfood",
							dataType: "json",
							success: function(data){
								$.each(data, function () {
									var html = '<div class="box">'
										html += '<div class="box-header">'
										html += '<h4>'
										html += '<div class="box-title">'
										html += '<b><a href="goodsView?goodId=' + this.goodId + '&entpId=' + this.entpId+'">' + this.goodName+'</b></a>'
										html += '</div>'
										html += '</h4>'
										html += '<div class="box-tools pull-right">'
										html += '<button type="button" class="btn btn-box-tool" data-widget="collapse">'
										html += '<div class="i fa fa-minus"></div></button>'
										html += '<button type="button" class="btn btn-box-tool" data-widget="remove">'
										html += '<div class="i fa fa-times"></div></button>'
										html += '</div>'
										html += '</div>'
										html += '<div class="box-body">'
										html += '<ul class ="products-list">'
										html += '<div class="product-list-in-box"></div>'
										html += '<div class="product-info">'
										html += '<ul>'
										html += '<li>'
										html += '<b>현재가격</b><br>' + this.goodPrice +'원 / '+ this.goodTotalCnt + this.codeName
										html += '</li>'
										html += '<li><b>업체명</b><br>'+ this.entpName + '</li>'
										html += '</ul>'
										html += '</div>'
										html += '</ul>'
										html += '</div>'
										html += '</div>'	
									$(".content").append(html)
								});
							}
						});
					}
				});
			}); 