extends layout

block content
	body.sidebar-mini.skin-purple-light
		.wrapper

			include header

			include sidebar

			// Content Wrapper. Contains page content
			.content-wrapper
				// Main content
				section.content
					// Your Page Content Here
					each item in row
						.box
							.box-body
								ul.products-list.product-list-in-box
									.product-info
										ul
											li
												h4
													b
														a(href='/goodsView?goodId=#{item.goodId}&entpId=#{item.entpId}') #{item.goodName}
											li 현재가격 : !{price[0].goodPrice} 원 / #{item.goodTotalCnt}
											li 한달전가격 : !{price[3].goodPrice} 원 / #{item.goodTotalCnt}
											li 업체명 : #{item.entpName}
		include scripts